/* Index: 
  > a. Color Palette & Variables
  > b. All elements
  > c. General Classes
  > d. Sections:
    > 1. Typography

/*a. Color Palette & Variables*/
@import "compass/css3";

:root {
  --color-primary: #e53714;
  --color-secondary: #ed4032;
  --color-icons: #a69494;
  --color-icons-darker: rgb(51, 51, 51);
  --color-body: #888888;
  --unchecked-star: rgb(246, 246, 195);
  --unchecked-color: #888;
  --checked-star: gold;
  --checked-color: #e52;
}

/*b. All Elements */
*,
*::after,
*::before {
  box-sizing: border-box;
}

/*c. General Classes */
.container {
  max-width: 768px;
  margin: 0 auto;
}

/*d. Sections: */

/*1. Typography*/
::selection {
  background: var(--color-primary);
  color: #fff;
}

html {
  /* 62.5% of 16px = 10px */
  font-size: 62.5%;
}
body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  line-height: 1.4;
  color: var(--color-body);
}

p {
  margin: 0;
}

/* icons*/

.icon {
  width: 26px;
  height: 26px;
}

.icon--secondary {
  fill: var(--color-icons);
}

.icon--darker {
  color: var(--color-icons-darker);
}

/* hero */

.hero {
  margin: 2.5rem 1.5rem 0 1.5rem;
  max-width: 360px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.hero__brand {
  width: 200px;
  height: 54px;
}

.hero__brand img {
  width: 100%;
  min-width: 155px;
}

/* input */

.input {
  border: 0;
  border-bottom: 1px solid lightgray;
  outline: none;
  opacity: 0.4;
}

/* input-group */
.input-group {
  display: flex;
  justify-content: flex-start;
  margin-top: 4rem;
  margin-left: 3.3rem;
}

.input-group .icon {
  font-weight: bolder;
  margin: 0 1.5rem 0 1rem;
  opacity: 0.5;
}

/* badge */

.badge {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: var(--color-primary);
  color: white;
  border-radius: 0 20px 20px 0;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
}

/* media */
