/* Index: 
  > a. Color Palette & Variables
  > b. All elements
  > c. General Classes
  > d. Sections:
    > 1. Typography

/*a. Color Palette & Variables*/
:root {
  --color-primary: #e53714;
  --color-secondary: #ed4032;
  --color-icons: #a69494;
  --color-body: #888888;
  --color-body-darker: rgb(92, 92, 92);
}

/*b. All Elements */
*,
*::after,
*::before {
  box-sizing: border-box;
}

/*c. General Classes */
.container {
  max-width: 768px;
  margin: 0 auto;
}

/*d. Sections: */

/*1. Typography*/
::selection {
  background: var(--color-primary);
  color: #fff;
}

html {
  /* 62.5% of 16px = 10px */
  font-size: 62.5%;
}
body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  line-height: 1.4;
  color: var(--color-body);
}

p {
  margin: 0;
}
