@import "/css/normalize.css";

:root {
  --color-primary: #e53714;
  --color-secondary: #ed4032;
  --color-icons: #a69494;
  --color-icons-darker: rgb(51, 51, 51);
  --color-body: #888888;
  --unchecked-star: rgb(246, 246, 195);
  --unchecked-color: #888;
  --checked-star: gold;
  --checked-color: #e52;
}

/* All Elements */
*,
*::after,
*::before {
  box-sizing: border-box;
}

/* General Classes */
.container {
  max-width: 414px;
  margin: 0 auto;
}

.info-user {
  opacity: 0.7;
  text-align: center;
  margin: 1.5rem 0 2rem 0;
}

/* Typography*/
::selection {
  background: var(--color-primary);
  color: #fff;
}

html {
  /* 62.5% of 16px = 10px */
  font-size: 62.5%;
}
body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  line-height: 1.4;
  color: var(--color-body);
}

p {
  margin: 0;
}

/**** List of COMPONENTS */

/* grid  */
.grid {
  display: grid;
}

.grid--1x3 {
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px 5px;
}

.grid--wtcook {
  justify-items: center;
  margin: 2rem;
}

/* icons*/
.icon {
  width: 26px;
  height: 26px;
}
.icon--wrapper {
  background: -moz-linear-gradient (180deg, grey, #e64602 70.31%);
  background: -webkit-linear-gradient (180deg, grey, #e64602 70.31%);
  background: linear-gradient(180deg, grey, #e64602 70.31%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.icon--wrapper i::before {
  display: inline;
}

.icon--primary {
  color: var(--color-primary);
}

.icon--secondary {
  fill: var(--color-icons);
}

.icon--darker {
  color: var(--color-icons-darker);
}

.icon--light {
  font-weight: 400;
}

.icon--gradient {
  color: linear-gradient(180deg, black, #e64602 70.31%);
}

.icon__checked {
  color: gold;
}

.fa-google-plus-g {
  color: red;
}

.fa-facebook-f {
  color: blue;
}

/* hero */
.hero {
  margin: 2.5rem 1.5rem 0 1.5rem;
  max-width: 414px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.hero__brand {
  width: 200px;
  height: 54px;
}

.hero__brand img {
  width: 100%;
  min-width: 155px;
}

.hero .fas {
  align-self: center;
}

.hero--popular {
  display: inline;
  width: 8rem;
  height: 8rem;
}

/* inputs */
.input {
  border: 0;
  border-bottom: 1px solid lightgray;
  outline: none;
  opacity: 0.7;
}

.input__shopping {
  border: 1px solid lightgray;
  padding: 1rem;
  flex-grow: 1;
}

.input-group {
  display: flex;
  justify-content: flex-start;
  margin-top: 4rem;
  margin-left: 3.3rem;
  margin-bottom: 1rem;
}

.input-group i {
  font-weight: bolder;
  margin: 0 1.5rem 0 1rem;
  opacity: 0.5;
}

.input-group-collap i:before {
  display: initial;
}

.input-group-collap:last-of-type {
  margin-bottom: 5rem;
}

.input-group__shopping {
  display: flex;
  justify-content: center;
  margin: 0 3rem;
}

.input-group__shopping .fas {
  padding: 0.5rem;
  color: grey;
}

/* media */
.media {
  max-width: 414px;
  position: relative;
}

.media__img {
  width: 100%;
}

.media__badge {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: var(--color-primary);
  color: white;
  border-radius: 0 20px 20px 0;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  position: absolute;
  top: 5%;
}

.media__desc {
  padding-left: 1rem;
  font-size: 1.5rem;
}

.media__rating {
  padding: 0 0 1rem 1rem;
}

/* buttons */
.btn {
  border-radius: 25px;
  text-transform: uppercase;
  padding: 1.4rem 4rem;
  display: block;
  margin: 3rem auto;
  outline: 0;
  border: 0;
}

.btn--radius10px {
  border-radius: 10px;
}

.btn--primary {
  background-color: var(--color-primary);
  color: white;
  transition: all 0.3s ease-in;
}

.btn--primary:hover {
  background-color: var(--color-icons);
  color: white;
}

.btn--empty {
  background-color: transparent;
  border: 1px solid var(--color-body);
  color: var(--color-body);

  opacity: 0.6;
  transition: all 0.2s ease-in;
}

.btn--empty:hover {
  opacity: 1;
  box-shadow: 0 1px 2px grey;
}

/* nav-bar */
.nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: color 0.6s ease-out;
  padding: 1rem;
  box-shadow: 0 0 5px rgb(190, 190, 190);
}

.nav-bar .fas:hover {
  color: var(--color-primary);
}

/* banner */
.banner {
  background-color: var(--color-primary);
  color: white;
  font-size: 1.7rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin-top: 3rem;
}
.banner .fas {
  padding-right: 1rem;
}

/* fits-with Object* = info + grid--1x3 medias */
.fits {
  margin: 2rem 1rem;
}

.fits__title {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.fits__number {
  font-size: 1.5rem;
  font-weight: 400;
}

/*label*/
.label {
  display: grid;
  grid-template-areas: "title icon1 icon2";
  font-size: 1.8rem;
  align-items: center;
  margin: 2rem 0 0 0;
  box-shadow: 0 0 10px 0.5px rgb(185, 185, 185);
}

.label__name {
  padding: 0.5rem 2rem;
  max-width: 25ch;
}

.label .fas {
  font-size: 3rem;
}

.label__delete {
  margin-right: 0;
}

/*list*/
.list {
  list-style-type: none;
  padding-left: 0;
}

/*list-icons*/
.list-icons {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  text-align: center;
  padding: 0 1rem;
}

.list-icons li {
  margin: 1.5rem;
}

.list-icons__noicons {
  font-size: 12px;
}

.list-icons-text-item {
  text-transform: uppercase;
  font-size: 1rem;
}

/*your-notes*/
.your-notes__title {
  font-size: 1.8rem;
  font-weight: bold;
}

.your-notes__text {
  margin-top: 1rem;
  opacity: 0.5;
  resize: none;
}

/***** PAGE - recipe-detail*/
/* recipe__note*/
.recipe__note {
  display: none;
  padding: 2rem;
}

/* recipe__frame*/
.recipe__frame {
  position: relative;
  margin-bottom: 2rem;
}

.recipe__frame .recipe__frame-icon1 {
  top: 5%;
  right: 1%;
  position: absolute;
}

.recipe__frame .recipe__frame-icon2 {
  top: 70%;
  right: 8%;
  position: absolute;
}

.recipe__frame-img {
  width: 100%;
}

.recipe__frame-sub {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.recipe__frame-icons {
  margin-right: 0.5rem;
}

.recipe__frame-icons > span {
  padding: 0 0.4rem;
}

/*recipe_ingre*/

.recipe__ingre__header {
  margin: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 0.5rem;
}
.recipe__ingre__tittle {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 0;
}

.recipe__ingre__servings {
  opacity: 0.8;
}

.recipe__ingre__header .btn {
  margin: 0;
  padding: 0.7rem 1rem;
  text-transform: initial;
}

.recipe__ingre .list {
  margin-left: 1.5rem;
}

.recipe__ingre .list > li {
  margin: 0.5rem 0;
}
/*recipe__lists*/

.recipe__lists {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 1.5rem 1.5rem 0;
}

/*****  PAGE - recipe-How-to-make*/
/*recipe__steps*/
.recipe__steps {
  margin-top: -3rem;
  margin-left: 1.5rem;
  line-height: 1.8;
}

.recipe__steps__tittle {
  display: flex;
  margin-top: 1.5rem;
  margin-bottom: -1rem;
}

.recipe__steps__tittle .recipe__frame-icon2 {
  margin-left: 1rem;
}

/***** PAGE - shopping-list */

.shopping-list .label {
  box-shadow: none;
  font-size: 1.6rem;
  grid-template-areas: "title icon1 icon2 delete";
  margin-right: 1rem;
}

.shopping-list .label__name {
  max-width: 22ch;
  margin-left: 1rem;
  padding-right: 0;
}

.shopping-list__icon {
  color: red;
  align-self: center;
  padding-right: 3.5rem;
}

.shopping-list .label .shopping-list__icon {
  font-size: 1.5rem;
}

.shopping-list__list {
  margin-top: 1rem;
  margin-left: 3rem;
}

.shopping__list-items {
  display: grid;
  grid-template-columns: 85% 15%;
  padding: 1rem 0 1rem 0;
}

.shopping-list .btn {
  margin-top: 8rem;
}

.shopping-list .banner {
  margin-top: 1rem;
}

/* End -> PAGES */

/**** MENU - logout & login */

.menu-logout,
.menu-login {
  position: relative;
  padding: 1rem;
}

.close-window {
  position: absolute;
  display: inline;
  top: 30px;
  right: 30px;
}

.user {
  position: absolute;
  top: 30px;
  left: 36px;
  display: flex;
  align-items: center;
}

.user__name {
  font-size: 1.8rem;
  padding-left: 1.5rem;
}

.menu {
  margin: 10rem 0 1rem 3rem;
}

.menu__items {
  display: grid;
  grid-template-columns: 50px 1fr;
  align-items: center;
  padding: 2rem 0;
}

.menu__items > .fas {
  text-align: center;
}

.menu__items:hover {
  color: var(--color-primary);
}

/**** LOGIN - Index*/

.login__form {
  font-size: 2.3rem;
}

.login__alert {
  color: red;
  margin-top: 3.4rem;
  margin-left: 3.5rem;
  margin-bottom: 1rem;
}

.login__form a {
  margin-top: -15px;
}

.login__new {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  font-size: 2.3rem;
  margin: 1rem;
  opacity: 0.7;
}

.login__new > p {
  margin: 1.5rem;
}

.login__new-header {
  text-align: center;
}

.login__footer {
  display: flex;
  justify-content: center;
}

.login__footer .btn {
  margin: 0 0 0 0.8rem;
  padding: 1rem;
  font-size: 2rem;
  display: flex;
  flex-flow: row-reverse nowrap;
}

.login__footer .btn {
  padding: 1.5rem 2rem;
}
.login__footer .fab {
  margin-right: 1.5rem;
}

/**** NUTRITION-chicken*/

.nutrition {
  font-family: "open sans", Arial, Helvetica, sans-serif;
}

.label--nutrition {
  box-shadow: none;
  justify-items: center;
  align-items: flex-end;
  grid-template-columns: 15vw 65vw 20vw;
  margin-bottom: 0;
}

.label--nutrition .label__name {
  justify-self: flex-start;
  font-size: 2.3rem;
  font-weight: 900;
  letter-spacing: 1px;
}

.label--nutrition .label__desc {
  font-size: 1.8rem;
  font-weight: normal;
  justify-self: flex-start;
  padding: 0 1rem;
}

.label--nutrition .icon--wraper {
  justify-self: flex-end;
}

.banner--nutrition {
  margin-top: 1rem;
  padding: 2rem;
  background-color: rgb(255, 225, 195);
  color: var(--color-body);
  font-family: roboto, Arial, sans-serif;
  box-shadow: 5px 5px 10px darkgrey;
}

.banner--nutrition i {
  color: red;
}

.nutrition__table {
  margin: 1.5rem;
}

.tg {
  border-collapse: collapse;
  border-spacing: 0;
}
.tg td {
  width: 33vw;
  border-color: rgb(207, 207, 207);
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  color: lightgray;
  font-size: 14px;
  overflow: hidden;
  padding: 20px 10px;
  word-break: normal;
}

.tg .tg-0lax {
  text-align: center;
  vertical-align: top;
}

.td__amount {
  font-size: 2.3rem;
  color: darkgrey;
}
