<header class="hero">
  <div class="hero__brand">
    <img src="/images/brand.png" alt="Happy Cooking Logo" />
  </div>
  <svg class="icon icon--secondary">
    <use xlink:href="images/sprite.svg#menu"></use>
  </svg>
</header>

<!--

    /* hero */

.hero {
  margin: 2.5rem;
  max-width: 360px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.hero__brand {
  width: 155px;
  height: 54px;
}

.hero__brand img {
  width: 100%;
  min-width: 155px;
}

-->
