<header class="hero">
  <div class="hero__brand">
    <img src="/images/brand.png" alt="Happy Cooking Logo" />
  </div>
  <i class="fas fa-bars fa-2x"></i>
</header>

<header class="hero">
  <div class="hero__brand">
    <img src="/images/brand.png" alt="Happy Cooking Logo" />
  </div>
  <img class="hero--popular" src="/images/reward.svg" alt="" />
  <i class="fas fa-bars fa-2x"></i>
</header>

<!--

    /* hero */

.hero {
  margin: 2.5rem 1.5rem 0 1.5rem;
  max-width: 414px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.hero__brand {
  width: 200px;
  height: 54px;
}

.hero__brand img {
  width: 100%;
  min-width: 155px;
}

.hero .fas {
  align-self: center;
}

.hero--popular {
  display: inline;
  width: 8rem;
  height: 8rem;
}

-->
