<div class="input-group">
  <i class="fas fa-search fa-2x"></i>
  <input
    class="input"
    type="text"
    name="recipes"
    id="recipes"
    placeholder="Search for recipes"
  />
</div>

<div class="input-group-collap">
  <div class="icon--wraper">
    <i class="fas fa-exclamation-triangle fa-2x"></i>
  </div>
  <input
    class="input"
    type="text"
    name="recipes"
    id="recipes"
    placeholder="Food restrictions"
  />
  <i class="fas fa-plus-circle fa-2x icon--primary"></i>
</div>

<!--

    /* input */

.input {
  border: 0;
  border-bottom: 1px solid lightgray;
  outline: none;
  opacity: 0.4;
}

  /* input-group */
.input-group {
  display: flex;
  justify-content: flex-start;
  margin-top: 4rem;
  margin-left: 3.3rem;
}

.input-group .icon {
  font-weight: bolder;
  margin: 0 1.5rem 0 1rem;
  opacity: 0.5;
}

  -->
