<div class="input-group">
  <i class="fas fa-search fa-2x"></i>
  <input
    class="input"
    type="text"
    name="recipes"
    id="recipes"
    placeholder="Search for recipes"
  />
</div>

<div class="input-group-collap">
  <div class="icon--wraper">
    <i class="fas fa-exclamation-triangle fa-2x"></i>
  </div>
  <input
    class="input"
    type="text"
    name="recipes"
    id="recipes"
    placeholder="Food restrictions"
  />
  <i class="fas fa-plus-circle fa-2x icon--primary"></i>
</div>

<div class="input-group__shopping">
  <input
    class="input input__shopping"
    type="text"
    name="recipes"
    id="recipes"
    placeholder="Type an ingredient to add"
  />
  <i class="fas fa-plus-circle fa-2x icon--primary"></i>
</div>

<!--

    /* input */

.input {
  border: 0;
  border-bottom: 1px solid lightgray;
  outline: none;
  opacity: 0.7;
}

.input__shopping {
  border: 1px solid lightgray;
  padding: 1rem;
  flex-grow: 1;
}

.input-group {
  display: flex;
  justify-content: flex-start;
  margin-top: 4rem;
  margin-left: 3.3rem;
  margin-bottom: 1rem;
}

.input-group i {
  font-weight: bolder;
  margin: 0 1.5rem 0 1rem;
  opacity: 0.5;
}

.input-group-collap i:before {
  display: initial;
}

.input-group-collap:last-of-type {
  margin-bottom: 5rem;
}

.input-group__shopping {
  display: flex;
  justify-content: center;
  margin: 0 3rem;
}

.input-group__shopping .fas {
  padding: 0.5rem;
  color: grey;
}
  -->
