<div class="label">
  <p class="label__name">Chicken Tacos with Fresh Tomato Salsa</p>
  <div class="icon--wrapper">
    <i class="fas fa-clipboard icon--gradient" id="icon-notes"></i>
  </div>
  <div class="icon--wrapper">
    <i class="fas fa-share-alt-square icon--gradient" id="icon-share"></i>
  </div>
</div>

<!--

    /*label*/

.label {
  display: grid;
  grid-template-areas: "title icon1 icon2";
  font-size: 1.8rem;
  align-items: center;
  margin: 2rem 0 0 0;
  box-shadow: 0 0 10px 0.5px rgb(185, 185, 185);
}

.label__name {
  padding: 0.5rem 2rem;
  max-width: 25ch;
}

.label .fas {
  font-size: 3rem;
}

.label__delete {
  margin-right: 0;
}

-->
