<ul class="list list-icons">
  <li>
    <div class="icon--wraper"><i class="fas fa-bone fa-2x"></i></div>
    <p class="list-icons-text-item">Nutrition</p>
  </li>
  <li>
    <div class="icon--wraper"><i class="fas fa-tasks fa-2x"></i></div>
    <p class="list-icons-text-item">Shopping list</p>
  </li>
  <li>
    <div class="icon--wraper">
      <i class="fas fa-calendar-alt fa-2x"></i>
    </div>
    <p class="list-icons-text-item">Meal planner</p>
  </li>
</ul>

<!--

    /*List-icons*/

.list-icons {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  text-align: center;
}

.list-icons > li {
  margin: 1rem;
}

.list-icons-text-item {
  text-transform: uppercase;
  font-size: 1rem;
}
  -->
