<ul class="list menu">
  <li class="menu__items">
    <i class="fas fa-lightbulb fa-2x"></i>
    <p>What to cook?</p>
  </li>
  <li class="menu__items">
    <i class="fas fa-tasks fa-2x"></i>
    <p>Shopping List</p>
  </li>
  <li class="menu__items">
    <i class="fas fa-calendar fa-2x"></i>
    <p>Meal Planner List</p>
  </li>
  <li class="menu__items">
    <i class="fas fa-cog fa-2x"></i>
    <p>Favorites List</p>
  </li>
  <li class="menu__items">
    <i class="fas fa-heart fa-2x"></i>
    <p>Settings</p>
  </li>
  <li class="menu__items">
    <i class="fas fa-user fa-2x"></i>
    <p>Log in</p>
  </li>
</ul>
