<div class="nav-bar">
  <i class="fas fa-lightbulb fa-2x"></i>
  <i class="fas fa-calendar fa-2x"></i>
  <i class="fas fa-heart fa-2x"></i>
  <i class="fas fa-clipboard-list fa-2x"></i>
  <i class="fas fa-portrait fa-2x"></i>
</div>

<!-- 

      /* Nav-bar */

.nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: color 0.6s ease-out;
  padding: 1rem;
  box-shadow: 0 0 5px rgb(190, 190, 190);
}

.nav-bar .fas:hover {
  color: var(--color-primary);
}

  -->
