<div class="plan">
  <div class="media media--header">
    <div class="badge media__badge">
      <p>Made for Your</p>
    </div>
    <img class="media__img" src="/images/nachos.png" alt="" />
    <p class="media__desc">Chicken Tacos with Fresh Tomate Salsa</p>
    <div class="media__rating">
      <span class="fas fa-star icon__checked"></span>
      <span class="fas fa-star icon__checked"></span>
      <span class="fas fa-star icon__checked"></span>
      <span class="fas fa-star"></span>
      <span class="fas fa-star"></span>
    </div>
  </div>
  <div class="grid grid--1x3">
    <div class="media">
      <img class="media__img" src="/images/nachos.png" alt="" />
      <p class="media__desc">Chicken Tacos with Fresh Tomate Salsa</p>
      <div class="media__rating">
        <span class="fas fa-star icon__checked"></span>
        <span class="fas fa-star icon__checked"></span>
        <span class="fas fa-star icon__checked"></span>
        <span class="fas fa-star"></span>
        <span class="fas fa-star"></span>
      </div>
    </div>
    <div class="media">
      <img class="media__img" src="/images/nachos.png" alt="" />
      <p class="media__desc">Chicken Tacos with Fresh Tomate Salsa</p>
      <div class="media__rating">
        <span class="fas fa-star icon__checked"></span>
        <span class="fas fa-star icon__checked"></span>
        <span class="fas fa-star icon__checked"></span>
        <span class="fas fa-star"></span>
        <span class="fas fa-star"></span>
      </div>
    </div>
    <div class="media">
      <img class="media__img" src="/images/nachos.png" alt="" />
      <p class="media__desc">Chicken Tacos with Fresh Tomate Salsa</p>
      <div class="media__rating">
        <span class="fas fa-star icon__checked"></span>
        <span class="fas fa-star icon__checked"></span>
        <span class="fas fa-star icon__checked"></span>
        <span class="fas fa-star"></span>
        <span class="fas fa-star"></span>
      </div>
    </div>
  </div>
  <button class="btn btn--empty">See all</button>
</div>
