<div class="recipe__frame">
  <img class="recipe__frame-icon1" src="/images/roundel-heart.svg" alt="" />
  <img class="recipe__frame-icon2" src="/images/youtube.svg" alt="" />
  <img class="recipe__frame-img" src="/images/nachos.png" alt="" />
  <div class="recipe__frame-sub">
    <div class="media__rating">
      <span class="fas fa-star icon__checked"></span>
      <span class="fas fa-star icon__checked"></span>
      <span class="fas fa-star icon__checked"></span>
      <span class="fas fa-star"></span>
      <span class="fas fa-star"></span>
      <span class="recipe__ratings">&nbsp; 32</span>
    </div>
    <div class="recipe__frame-icons">
      <span>
        <span class="icon--wraper"><span class="fas fa-clock"></span></span>
        <span>15</span>
      </span>
      <span>
        <span class="icon--wraper"><span class="fas fa-utensils"></span></span>
        <span>9</span>
      </span>
      <span class="icon--wraper"><span class="fas fa-signal"></span></span>
    </div>
  </div>
</div>

<!--
      /*recipe__frame*/

.recipe__frame {
  position: relative;
  margin-bottom: 2rem;
}

.recipe__frame .recipe__frame-icon1 {
  top: 5%;
  right: 1%;
  position: absolute;
}

.recipe__frame .recipe__frame-icon2 {
  top: 70%;
  right: 8%;
  position: absolute;
}

.recipe__frame-img {
  width: 100%;
}

.recipe__frame-sub {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.recipe__frame-icons {
  margin-right: 0.5rem;
}

.recipe__frame-icons > span {
  padding: 0 0.4rem;
}
  -->
