<div class="recipe__steps">
  <div class="recipe__steps__tittle">
    <h3>Step 1</h3>
    <img class="recipe__frame-icon2" src="/images/youtube.svg" alt="" />
  </div>
  <p>
    Cut chicken shoulder into 2 (4- to 5-inch-thick) pieces. Combine chile
    powder, cloves and 1 tablespoon of the salt in a small bowl. Sprinkle
    mixture over all sides of chicken pieces. Heat oil in a large cast-iron
    skillet over high. Add chicken pieces, and cook until deep golden brown on
    all sides, about 2 minutes per side. Place chicken in a 5- to 6-quart slow
    cooker and add vinegar.
  </p>
  <div class="recipe__steps__tittle">
    <h3>Step 2</h3>
    <img class="recipe__frame-icon2" src="/images/youtube.svg" alt="" />
  </div>
  <p>
    Cover and cook on LOW until chicken falls apart easily when shredded with a
    fork, 1 to 2 hours.
  </p>
  <div class="recipe__steps__tittle">
    <h3>Step 3</h3>
    <img class="recipe__frame-icon2" src="/images/youtube.svg" alt="" />
  </div>
  <p>
    Stir together tomato, lime juice and remaining 1/2 teaspoon salt in a bowl.
    Chill at least 2 hours or up to 24.
  </p>
  <div class="recipe__steps__tittle">
    <h3>Step 4</h3>
    <img class="recipe__frame-icon2" src="/images/youtube.svg" alt="" />
  </div>
  <p>
    Heat tortillas according to package directions. Shred chicken in slow cooker
    with 2 forks. Serve chicken on tortillas topped with salsa.
  </p>
</div>
