<div class="recipe__note">
  <p class="your-notes__title">Your notes</p>
  <p>Remember your personal touch on this recipe.</p>
  <textarea
    class="your-notes__text"
    name="notes"
    id="notes"
    cols="38"
    rows="8"
    placeholder="Add your notes here..."
  ></textarea>
  <button class="btn btn--empty">Save</button>
</div>

<!--

    /*your-notes*/
    
.your-notes__title {
  font-size: 1.8rem;
  font-weight: bold;
}

.your-notes__text {
  margin-top: 1rem;
  opacity: 0.5;
  resize: none;
}
-->
